@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

root {
  --cor-principal: #ad9947;
  --cor-secundaria: white;
  --cor-destaque: grey;
}

body {
  font-family: "Oswald", sans-serif;
}

h1, h2, h5 {
  color: var(--cor-secundaria);
  font-weight: 400;
}

footer a {
  color: var(--cor-principal);
}

footer a:hover {
  color: var(--cor-destaque);
}

body.dark-mode {
  background-color: rgba(18, 18, 18, 0.853);
  color: #ffffff;
}

.dark-mode-btn {
  display: flex;
  background-color: #ffffff;
  color: white;
  border-radius: 150px;
}

.dark-mode.btn:hover {
  background-color: #ffffff;
  color: rgb(44, 62, 80);
  border-radius: 150px;
}


